version: '3.3'

services:
  wordpress:
    depends_on:
      - db
    image: wordpress:latest
    container_name: wordpress
    ports:
      - ${WORDPRESS_PORT}:80
    restart: always
    environment:
      WORDPRESS_DB_HOST: db:3306
      WORDPRESS_DB_USER: ${MYSQL_USER}
      WORDPRESS_DB_PASSWORD: ${MYSQL_PASSWORD}
      WORDPRESS_DB_NAME: ${MYSQL_DATABASE}
    volumes:
      - /media/hd2/docker.container/wordpress/html:/var/www/html  
      - /media/hd2/docker.container/wordpress/wp-content:/var/www/html/wp-content

  db:
    image: mysql:5.7
    container_name: wordpress_db
    ports:
      - ${MYSQL_PORT}:3306
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
    volumes:
      - /media/hd2/docker.container/wordpress/mysql:/var/lib/mysql
      - /media/hd2/docker.container/wordpress/backup:/var/lib/backup
  
  phpmyadmin:
    image: corbinu/docker-phpmyadmin
    container_name: wordpress_phpadmin
    depends_on:
      - db
    ports:
      - ${PHPMYADMIN_PORT}:80
    restart: always
    environment:
      MYSQL_USERNAME: ${MYSQL_USER}
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_PORT_3306_TCP_ADDR: db
